Telegram Bot Ai Genmini.json
{
  "name": "Telegram Bot Ai Genmini",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9596502f-7a5a-4e2c-9cbc-e538867c7c15",
      "name": "Telegram Trigger",
      "webhookId": "e60cf815-834d-47a1-be9f-95e8f5a8563e",
      "credentials": {
        "telegramApi": {
          "id": "yb7HPpakZ1FQuPaJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad28a933-2f41-4c1a-869e-375497a8294b",
              "name": "ChatID",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "658172b7-d1c4-44e7-8e52-d9aa949a4957",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3e7d488f-8799-4a1e-90ca-ec28935b1ee7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant chatbot on Telegram. \n\nYour role:\n- Answer questions clearly and concisely in the same language as the user\n- Be friendly, polite, and professional\n- If you don't know something, admit it honestly\n- Keep responses short and easy to read on mobile devices\n- Use emojis occasionally to make conversations more engaging\n\nResponse guidelines:\n- For Thai users: ตอบเป็นภาษาไทยที่เป็นกันเอง สุภาพ และเข้าใจง่าย\n- For English users: Respond in clear, natural English\n- Keep answers under 500 words unless specifically asked for detailed information\n- Break long responses into multiple paragraphs for readability"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "93030264-fe61-4980-a5d7-e1b509b3b95f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ChatID }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        256
      ],
      "id": "d8c85d6e-4224-444c-a4d9-acefd4dab18d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "39bf76fd-dab0-4edf-9189-25b0a940edf6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LOgFbrT3snzPAAxZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.ChatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "b4c35742-fc1b-4d87-8482-f54be9410046",
      "name": "Send a text message",
      "webhookId": "5ca51acb-13ac-487a-9f96-88dfbc8c9473",
      "credentials": {
        "telegramApi": {
          "id": "yb7HPpakZ1FQuPaJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "07db0381-f51c-4f9c-855a-013a4461e2ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e287b23bce9ab1df2386ee2df2eace978549e7a0c1baab70fc913fabb4c24b55"
  },
  "id": "xPCdbgmbf-fmf4H-AB7NT",
  "tags": []
}